{{~ #*inline "page"}}
<table class="stx-table">
  <thead>
  <tr>
    <th>Title</th>
    <th>Status</th>
    <th>Priority</th>
  </tr>
  </thead>
  <tbody>
  {{~ #each this}}
  <tr>
      <td><a href='https://storyboard.openstack.org/#!/story/{{this.story_id}}'>{{this.title}}</a></td>
      <td>{{this.status}}</td>
      <td>{{this.priority}}</td>
  </tr>
  {{~ /each}}
  </tbody>
</table>
{{~ /inline}}
{{~> index ~}}
