<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            StarlingX storyboard tasks
        </title>
    </head>
    <body>
        <main>
{{~> page}}
        </main>
    </body>
</html>
